@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Main/Views/Shared/_Layout.cshtml";
}
@section page_header{

    <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery34" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="rev_slider_34_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-129" data-transition="fade" data-slotamount="default" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-title="Đồ &nbsp; ăn &nbsp nhanh" data-description="Thưởng thức ẩm thực thế giới!">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/img/theme/banner2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYER NR. 2 -->
                    <h1 class="tp-caption tp-resizeme" data-x="left" data-hoffset="15" data-y="70" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" style="z-index: 6;">
                        <span class="small_title">Thế giới</span> <br> Đồ &nbsp; Ăn &nbsp; <span class="color">Nhanh</span>
                    </h1>
                    <!-- LAYER NR. 2 -->
                    <p class="tp-caption tp-resizeme" data-x="left" data-hoffset="15" data-y="210" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="800" style="z-index: 9;">
                        Thiên đường ẩm thực!
                    </p>
                </li>

                <li class="text-center" data-index="rs-130" data-transition="slideleft" data-slotamount="default" data-rotate="0" data-title="Đồ &nbsp ăn &nbsp mặn" data-description="Thưởng thức ẩm thực thế giới!">
                    <img src="~/Content/img/theme/banner1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <h1 class="tp-caption tp-resizeme" data-x="center" data-hoffset="15" data-y="70" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" style="z-index: 6;">
                        <span class="small_title">  Thế giới</span> <br> Đồ &nbsp; ăn &nbsp; <span class="color">mặn </span>
                    </h1>
                    <p class="tp-caption tp-resizeme" data-x="center" data-hoffset="15" data-y="210" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="800" style="z-index: 9;">
                        Thiên đường ẩm thực!
                    </p>
                </li>

                <li class="text-right" data-index="rs-131" data-transition="slideleft" data-rotate="0" data-title="Đồ &nbsp; uống" data-description="Thưởng thức ẩm thực thế giới!">
                    <img src="~/Content/img/theme/banner4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <h1 class="tp-caption tp-resizeme" data-x="right" data-hoffset="" data-y="70" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" style="z-index: 6;">
                        <span class="small_title">Thế giới</span> <br> Đồ &nbsp; <span class="color">uống</span>
                    </h1>
                    <p class="tp-caption tp-resizeme" data-x="right" data-hoffset="" data-y="210" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="800" style="z-index: 9;">
                        Thiên đường ẩm thực!
                    </p>
                </li>
                <!-- SLIDE  -->
            </ul>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
}

<!--Features Section-->
<section class="feature_wrap padding-half" id="specialities">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="heading ">GIẢI KHÁT GÌ CHO HÔM&nbsp;NAY?</h2>
                <hr class="heading_space">
            </div>
        </div>
        <div class="row" id="favorite-food">
            <div class="col-md-3 col-xs-6 feature text-center">
                <i class="icon-glass"></i>
                <h3><a href="./account/register.php">Rượu vang &amp; Cocktail</a></h3>
                <p> Hảo hạng!</p>
            </div>
            <div class="col-md-3 col-xs-6 feature text-center">
                <i class="icon-coffee"></i>
                <h3><a href="./account/register.php">Trà</a></h3>
                <p> Hảo hạng!</p>
            </div>
            <div class="col-md-3 col-xs-6 feature text-center">
                <i class="icon-glass"></i>
                <h3><a href="./account/register.php">Sinh tố</a></h3>
                <p> Hảo hạng!</p>
            </div>
            <div class="col-md-3 col-xs-6 feature text-center">
                <i class="icon-coffee"></i>
                <h3><a href="./account/register.php">Cà phê</a></h3>
                <p> Hảo hạng!</p>
            </div>
        </div>

    </div>
</section>


<!--Services plus working hours-->
<section id="services" class="padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="heading">Các món nổi bật</h2>
                <hr class="heading_space">
                <div class="slider_wrap">
                    <div id="service-slider" class="owl-carousel">
                        @foreach(var i in ViewBag.hotFood)
            {
                        <div class="item">
                            <div class="item_inner">
                                <div class="image">

                                    <img src="~/Content/img/food/@(i.Alias)_1.jpg" style="height:200px; object-fit:cover" alt="món ăn ngonnnnn">
                                    <span class="sale">-40%</span>
                                    <a href="~/Main/Menu/Detail/@(i.ID)"></a>
                                </div>
                                <h3><a href="~/Main/Menu/Detail/@(i.ID)">@i.Name</a></h3>
                                <p>@i.Description</p>
                            </div>
                        </div>
            }
                     
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="heading">Menu</h2>
                <hr class="heading_space">
                <ul class="menu_widget">
                    @foreach (var i in ViewBag.menuFood)
                    {
                        <li>@i.Name<span>@i.OriginPrice VNĐ</span></li>
                    }
                    
                </ul>
                <!--<h3>Các món khác</h3>-->
                <p>Thiên đường ẩm thực thế giới!</p>
            </div>
        </div>
    </div>
</section>


<!-- image with content -->
<section class="info_section paralax">
    <div class="container">
        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">
                <div class="text-center">
                    <h2 class="heading_space">HOT Deal</h2>
                    <div class="quadroDeAvisos" id="quadroDeAvisos">

                        <main class="Loop js-loop lineUp" style="overflow:hidden" id="lineUp">
                            <section class="avisos">
                                <h1>Giảm giá khi đặt hàng lúc 7h00&nbsp;đến&nbsp;7h30</h1>
                            </section>
                            <section class="avisos">
                                <h1>Giảm giá khi đặt hàng lúc 9h00&nbsp;đến&nbsp;9h30</h1>
                            </section>
                            <section class="avisos">
                                <h1>Giảm giá khi đặt hàng lúc 11h00&nbsp;đến&nbsp;11h30</h1>
                            </section>
                            <section class="avisos">
                                <h1>Giảm giá khi đặt hàng lúc 15h00&nbsp;đến&nbsp;15h30</h1>
                            </section>
                            <section class="avisos">
                                <h1>Giảm giá khi đặt hàng lúc 19h00&nbsp;đến&nbsp;19h30</h1>
                            </section>
                            <section class="avisos">
                                <h1>Giảm giá cả ngày 28/10</h1>
                            </section>

                            <!--
                                   These blocks are the same as the first blocks to get that looping illusion going.
                                   You need to add clones to fill out a full viewport height.
                                   -->
                        </main>
                    </div>
                    <p class="heading_space detail">Thiên đường ẩm thực thế giới!</p>

                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<!-- testinomial -->
<section id="testinomial" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="heading">Phản &nbsp; hồi &nbsp; của &nbsp; khách &nbsp; hàng</h2>
                <hr class="heading_space">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="testinomial-slider" class="owl-carousel text-center">
                    <div class="item">
                        <h3>Đồ ăn thật tuyệt vời, giao hàng nhanh, người giao hàng rất thân thiện</h3>
                        <p>Nguyễn Quang Minh</p>
                    </div>
                    <div class="item">
                        <h3>Đây là ứng dụng đặt đồ ăn hài lòng đối với tôi từ trước đến nay!</h3>
                        <p>Hoàng Ngọc Minh Châu</p>
                    </div>
                    <div class="item">
                        <h3>Đồ ăn khi được giao đến vẫn nóng hổi, cảm ơn The Pastauffeur!</h3>
                        <p>Nguyễn Minh Hương</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Content/js/User/revolution.extension.layeranimation.min.js"></script>
<script src="~/Content/js/User/revolution.extension.navigation.min.js"></script>
<script src="~/Content/js/User/revolution.extension.parallax.min.js"></script>
<script src="~/Content/js/User/revolution.extension.slideanims.min.js"></script>
<script src="~/Content/js/User/revolution.extension.video.min.js"></script>
