<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <add name="DbCNWeb" connectionString="data source=LAPTOP-FDUFGOJT;initial catalog=CNWeb;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="PaymentModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Models.Dao.PaymentModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>