<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <add name="DbCNWeb" connectionString="data source=LONGLE\SQLEXPRESS01;initial catalog=CNWeb;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>